nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;   
    
}
nav ul li a{
    text-decoration: none;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: olivedrab;
}
header{
    background-color: darkmagenta;;
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer{
    background-color: darkmagenta;
    color: #fff;
    text-align: center;
    padding: 10px;
}
h2{
    align-items: center;
    color: red;
    padding-left: 5%;
}
body{
    background: linear-gradient(to right, yellow, lightblue);
}
p{
    width: auto;
    text-align: center;
}
ol, li{
    padding: 5px;
    padding-left: 5%;
}